package atoms

import "strings"

// ContainerProps defines the properties for the Container component
type ContainerProps struct {
	Content  templ.Component `json:"-"`
	MaxWidth string          `json:"max_width" validate:"oneof=sm md lg xl 2xl 3xl 4xl 5xl 6xl 7xl full"`
	Padding  string          `json:"padding" validate:"oneof=none sm base lg xl"`
	Center   bool            `json:"center"`
	ID       string          `json:"id"`
	Class    string          `json:"class"`
}

// Container renders a responsive container component
templ Container(props ContainerProps) {
	<div
		if props.ID != "" {
			id={ props.ID }
		}
		class={ getContainerClasses(props.MaxWidth, props.Padding, props.Center) + " " + props.Class }
	>
		if props.Content != nil {
			@props.Content
		}
	</div>
}

// Helper functions for container styling
func getContainerClasses(maxWidth, padding string, center bool) string {
	base := "w-full"
	
	// Max width classes
	var maxWidthClass string
	switch maxWidth {
	case "sm":
		maxWidthClass = "max-w-sm"
	case "md":
		maxWidthClass = "max-w-md"
	case "lg":
		maxWidthClass = "max-w-lg"
	case "xl":
		maxWidthClass = "max-w-xl"
	case "2xl":
		maxWidthClass = "max-w-2xl"
	case "3xl":
		maxWidthClass = "max-w-3xl"
	case "4xl":
		maxWidthClass = "max-w-4xl"
	case "5xl":
		maxWidthClass = "max-w-5xl"
	case "6xl":
		maxWidthClass = "max-w-6xl"
	case "7xl":
		maxWidthClass = "max-w-7xl"
	case "full":
		maxWidthClass = "max-w-full"
	default:
		maxWidthClass = "max-w-7xl" // Default to 7xl
	}
	
	// Padding classes
	var paddingClass string
	switch padding {
	case "none":
		paddingClass = "p-0"
	case "sm":
		paddingClass = "p-4"
	case "lg":
		paddingClass = "p-8"
	case "xl":
		paddingClass = "p-12"
	default: // base
		paddingClass = "p-6"
	}
	
	// Center class
	var centerClass string
	if center {
		centerClass = "mx-auto"
	}
	
	classes := []string{base, maxWidthClass, paddingClass}
	if centerClass != "" {
		classes = append(classes, centerClass)
	}
	
	return strings.Join(classes, " ")
}