package repository

import (
	"context"

	"github.com/google/uuid"
	"github.com/niiniyare/erp/internal/core/{{.PackageName}}/domain"
	"github.com/niiniyare/erp/db/sqlc"
)

{{comment (printf "%sRepository implements the %s repository interface" .EntityName (lowerCase .EntityName))}}
type {{camelCase .EntityName}}Repository struct {
	queries *sqlc.Queries
}

{{comment (printf "New%sRepository creates a new %s repository" .EntityName (lowerCase .EntityName))}}
func New{{.EntityName}}Repository(queries *sqlc.Queries) domain.{{.EntityName}}Repository {
	return &{{camelCase .EntityName}}Repository{
		queries: queries,
	}
}

{{comment (printf "Create creates a new %s in the database" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) Create(ctx context.Context, {{camelCase .EntityName}} *domain.{{.EntityName}}) error {
	{{comment "TODO: Implement using SQLC generated methods"}}
	{{comment "params := sqlc.Create{{.EntityName}}Params{"}}
	{{comment "  ID: {{camelCase .EntityName}}.ID,"}}
	{{comment "  TenantID: {{camelCase .EntityName}}.TenantID,"}}
	{{comment "  // ... other fields"}}
	{{comment "}"}}
	{{comment "_, err := r.queries.Create{{.EntityName}}(ctx, params)"}}
	{{comment "return err"}}
	panic("TODO: implement Create{{.EntityName}} - run 'make sqlc' first")
}

{{comment (printf "GetByID retrieves a %s by ID" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetByID(ctx context.Context, id uuid.UUID) (*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityName}}ByID - run 'make sqlc' first")
}

{{comment (printf "GetByCode retrieves a %s by code" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetByCode(ctx context.Context, entityID *uuid.UUID, code string) (*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityName}}ByCode - run 'make sqlc' first")
}

{{comment (printf "Update updates a %s in the database" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) Update(ctx context.Context, {{camelCase .EntityName}} *domain.{{.EntityName}}) error {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Update{{.EntityName}} - run 'make sqlc' first")
}

{{comment (printf "Delete soft deletes a %s" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) Delete(ctx context.Context, id uuid.UUID) error {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Delete{{.EntityName}} - run 'make sqlc' first")
}

{{comment (printf "List lists %s with filtering" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) List(ctx context.Context, filter *domain.{{.EntityName}}Filter) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement List{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment (printf "Count counts %s matching the filter" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) Count(ctx context.Context, filter *domain.{{.EntityName}}Filter) (int64, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Count{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment (printf "Search searches %s by query" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) Search(ctx context.Context, query string, limit int) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Search{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment (printf "Exists checks if a %s exists by ID" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) Exists(ctx context.Context, id uuid.UUID) (bool, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement {{.EntityName}}Exists - run 'make sqlc' first")
}

{{comment (printf "ExistsByCode checks if a %s exists by code" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) ExistsByCode(ctx context.Context, entityID *uuid.UUID, code string) (bool, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement {{.EntityName}}ExistsByCode - run 'make sqlc' first")
}

{{comment (printf "ValidateCode validates if a %s code is unique" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) ValidateCode(ctx context.Context, code string, excludeID *uuid.UUID) error {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Validate{{.EntityName}}Code - run 'make sqlc' first")
}

{{comment "ValidateUniqueConstraints validates unique constraints"}}
func (r *{{camelCase .EntityName}}Repository) ValidateUniqueConstraints(ctx context.Context, {{camelCase .EntityName}} *domain.{{.EntityName}}) error {
	{{comment "TODO: Implement constraint validation"}}
	return nil
}

{{comment (printf "GetByStatus retrieves %s by status" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) GetByStatus(ctx context.Context, status domain.{{.EntityName}}Status) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityNamePlural}}ByStatus - run 'make sqlc' first")
}

{{comment (printf "GetActive retrieves active %s" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) GetActive(ctx context.Context, entityID *uuid.UUID) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement GetActive{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment (printf "GetInactive retrieves inactive %s" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) GetInactive(ctx context.Context, entityID *uuid.UUID) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement GetInactive{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment "Hierarchy operations"}}

{{comment (printf "GetHierarchy retrieves %s hierarchy" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetHierarchy(ctx context.Context, rootID uuid.UUID) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityName}}Hierarchy - run 'make sqlc' first")
}

{{comment (printf "GetChildren retrieves %s children" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetChildren(ctx context.Context, parentID uuid.UUID) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityName}}Children - run 'make sqlc' first")
}

{{comment (printf "GetDescendants retrieves %s descendants" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetDescendants(ctx context.Context, ancestorID uuid.UUID) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityName}}Descendants - run 'make sqlc' first")
}

{{comment (printf "GetAncestors retrieves %s ancestors" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetAncestors(ctx context.Context, descendantID uuid.UUID) ([]*domain.{{.EntityName}}, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityName}}Ancestors - run 'make sqlc' first")
}

{{comment "UpdateHierarchyPath updates hierarchy path"}}
func (r *{{camelCase .EntityName}}Repository) UpdateHierarchyPath(ctx context.Context, {{camelCase .EntityName}}ID uuid.UUID, newPath string) error {
	{{comment "TODO: Implement hierarchy path update"}}
	panic("TODO: implement Update{{.EntityName}}HierarchyPath - run 'make sqlc' first")
}

{{comment "Business rule checks"}}

{{comment (printf "HasDependencies checks if %s has dependencies" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) HasDependencies(ctx context.Context, id uuid.UUID) (bool, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Has{{.EntityName}}Dependencies - run 'make sqlc' first")
}

{{comment (printf "HasChildren checks if %s has children" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) HasChildren(ctx context.Context, id uuid.UUID) (bool, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Has{{.EntityName}}Children - run 'make sqlc' first")
}

{{comment (printf "CanBeDeleted checks if %s can be deleted" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) CanBeDeleted(ctx context.Context, id uuid.UUID) (bool, error) {
	{{comment "Check all deletion constraints"}}
	hasDeps, err := r.HasDependencies(ctx, id)
	if err != nil {
		return false, err
	}
	if hasDeps {
		return false, nil
	}
	
	hasChildren, err := r.HasChildren(ctx, id)
	if err != nil {
		return false, err
	}
	return !hasChildren, nil
}

{{- if or (contains .ModuleName "finance") (contains .ModuleName "account")}}
{{comment "Financial operations"}}

{{comment (printf "HasTransactions checks if %s has transactions" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) HasTransactions(ctx context.Context, id uuid.UUID) (bool, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Has{{.EntityName}}Transactions - run 'make sqlc' first")
}

{{comment (printf "GetBalance retrieves %s balance" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetBalance(ctx context.Context, id uuid.UUID) (*domain.{{.EntityName}}Balance, error) {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Get{{.EntityName}}Balance - run 'make sqlc' first")
}

{{comment (printf "UpdateBalance updates %s balance" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) UpdateBalance(ctx context.Context, id uuid.UUID, balance *domain.{{.EntityName}}Balance) error {
	{{comment "TODO: Implement using SQLC generated methods"}}
	panic("TODO: implement Update{{.EntityName}}Balance - run 'make sqlc' first")
}
{{- end}}

{{comment "Batch operations"}}

{{comment (printf "CreateBatch creates multiple %s" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) CreateBatch(ctx context.Context, {{pluralize (camelCase .EntityName)}} []*domain.{{.EntityName}}) error {
	{{comment "TODO: Implement batch creation using SQLC CopyFrom"}}
	panic("TODO: implement CreateBatch{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment (printf "UpdateBatch updates multiple %s" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) UpdateBatch(ctx context.Context, {{pluralize (camelCase .EntityName)}} []*domain.{{.EntityName}}) error {
	{{comment "TODO: Implement batch update"}}
	panic("TODO: implement UpdateBatch{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment (printf "DeleteBatch deletes multiple %s" (pluralize (lowerCase .EntityName)))}}
func (r *{{camelCase .EntityName}}Repository) DeleteBatch(ctx context.Context, ids []uuid.UUID) error {
	{{comment "TODO: Implement batch deletion"}}
	panic("TODO: implement DeleteBatch{{.EntityNamePlural}} - run 'make sqlc' first")
}

{{comment "Analytics and reporting"}}

{{comment (printf "GetAnalytics retrieves %s analytics" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetAnalytics(ctx context.Context, filter *domain.{{.EntityName}}AnalyticsFilter) (*domain.{{.EntityName}}Analytics, error) {
	{{comment "TODO: Implement analytics query"}}
	panic("TODO: implement Get{{.EntityName}}Analytics - run 'make sqlc' first")
}

{{comment (printf "GetUsageStats retrieves %s usage statistics" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetUsageStats(ctx context.Context, {{camelCase .EntityName}}ID uuid.UUID) (*domain.{{.EntityName}}UsageStats, error) {
	{{comment "TODO: Implement usage stats query"}}
	panic("TODO: implement Get{{.EntityName}}UsageStats - run 'make sqlc' first")
}

{{comment "Audit operations"}}

{{comment (printf "GetAuditTrail retrieves %s audit trail" (lowerCase .EntityName))}}
func (r *{{camelCase .EntityName}}Repository) GetAuditTrail(ctx context.Context, id uuid.UUID) ([]*domain.AuditEntry, error) {
	{{comment "TODO: Implement audit trail query"}}
	panic("TODO: implement Get{{.EntityName}}AuditTrail - run 'make sqlc' first")
}

{{comment "RecordAuditEntry records an audit entry"}}
func (r *{{camelCase .EntityName}}Repository) RecordAuditEntry(ctx context.Context, entry *domain.AuditEntry) error {
	{{comment "TODO: Implement audit entry recording"}}
	panic("TODO: implement Record{{.EntityName}}AuditEntry - run 'make sqlc' first")
}

{{generateTODO "Implement all methods using SQLC generated code after running 'make sqlc'"}}
{{generateTODO "Add transaction support for batch operations"}}
{{generateTODO "Add caching layer for frequently accessed data"}}
{{generateTODO "Add metrics and tracing to repository operations"}}